{% extends 'accounts/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Welcome to Codetech</h2>

    <button id="add-courses" type="button" onclick=" window.location.href=' {% url 'add_course' %} ';">
        Add a New Course
    </button>
    
    
    
    <h3>Total Courses</h3>
    <ul>
        {% for course in total_courses %}
            <li>{{ course.title }} - ${{ course.price }}</li>
        {% empty %}
            <li>No courses available.</li>
        {% endfor %}
    </ul>
    
    <h3>My Courses</h3>
    <ul>
        {% for course in purchased_courses %}
            <li>{{ course.title }} - ${{ course.price }}</li>
        {% empty %}
            <li>You haven't purchased any courses yet.</li>
        {% endfor %}
    </ul>
{% endblock %}
